{% load static %}
<title> Запись "{{ post.title }} </title>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<body class="article">
    <div class="article-header">
    <img src="{% static 'img/dpb-logo.png' %}" alt="логотип" width="300" height="75"/>
    <a href="{% url 'archive' %}">
        Все записи
    </a>
</div>
<div class="archive">
    <div class="one-post">
        <h2 class="post-title">
            <a href="{% url 'get_article' post.id %}">
                {{ post.title }}
            </a>
        </h2>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
</div>
</body>
